[Desktop Entry]
Encoding=UTF-8
Name=OLBITX
Comment=OLBITX P2P Cryptocurrency
Comment[fr]=OLBITX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OLBITX, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/olbitx-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/olbitx;
Categories=Office;
